@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-url: url(./img/fundo.jpg);
  --text-color: #fff;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --switch-bg-url: url(./img/MoonStars.svg);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

.light {
  --bg-url: url();
  --text-color: #000;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.5);
  --switch-bg-url: url(./img/Sun.svg);
  --highlight-color: rgba(0, 0, 0, 0.2);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: auto ;
  padding: 0 24px;

}

@media (max-width: 700px) {
  :root {
    --bg-url: url(./img/fundo.jpg);
  }
  .light {
    --bg-url: url(./img/bg-mobile-light.jpg);
  }
}
